# You need a .gitattributes file to specify which files need to use this filter
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Vishal Mehta
	# EDU account
	# To access this setting: Github.com > Click top right icon/avatar > Settings > Emails
	email = 6668870+vrmehta93@users.noreply.github.com
[alias]
    d = diff
    aa = add --all
    st = status
    as = !git add --all && git status
    cm = commit -m
    p = push
    po = push origin
    l = pull
    c = clone
    b = branch
    sw = switch
    swc = switch -c
    cp = "!f() { git commit -m \"$1\" && git push; }; f"
    acp = "!f() { git add -A && git status && git commit -m \"$1\" && git push; }; f"
