[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/vrmehta93/kickstart.nvim.git
	branch = master
[submodule "notes/vim-cheatsheet"]
	path = notes/vim-cheatsheet
	url = https://github.com/ibhagwan/vim-cheatsheet.git
